flows.json
[
    {
        "id": "0ba9dc2d38a0eb97",
        "type": "tab",
        "label": "Tutelado",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72c02725083cbb45",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "RecursosPi",
        "topic": "SlowHedgehog/resource/consumption",
        "qos": "2",
        "datatype": "json",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 860,
        "wires": [
            [
                "0e561268b3533bc4",
                "170594a6dd1a6bbb",
                "c88207c53b923cd8",
                "dcc8695b23b52a9d"
            ]
        ]
    },
    {
        "id": "0e561268b3533bc4",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 780,
        "wires": []
    },
    {
        "id": "9f535ca88315080f",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "Netstat",
        "topic": "SlowHedgehog/netstat/output",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1760,
        "wires": [
            [
                "1090d683e62e06da",
                "f3bd1df7c75472bc"
            ]
        ]
    },
    {
        "id": "1090d683e62e06da",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1700,
        "wires": []
    },
    {
        "id": "170594a6dd1a6bbb",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Uso CPU",
        "func": "var cpu_usage = msg.payload.cpu_usage;\n\nmsg.payload = cpu_usage;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 780,
        "wires": [
            [
                "c51b2750f17c0449",
                "8cb5d634e3c969fa"
            ]
        ]
    },
    {
        "id": "c51b2750f17c0449",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "c88207c53b923cd8",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Uso Memoria",
        "func": "var memory_usage = msg.payload.memory_info.percent;\n\nmsg.payload = memory_usage;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "8188cd9f4bd2c7e9",
                "5fc0554388e81d98"
            ]
        ]
    },
    {
        "id": "8188cd9f4bd2c7e9",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "dcc8695b23b52a9d",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Uso Disco",
        "func": "var disk_usage = msg.payload.disk_usage.percent;\n\nmsg.payload = disk_usage;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 900,
        "wires": [
            [
                "d188af0a48aac66a",
                "573acd51e42b2914"
            ]
        ]
    },
    {
        "id": "d188af0a48aac66a",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 900,
        "wires": []
    },
    {
        "id": "573acd51e42b2914",
        "type": "ui_gauge",
        "z": "0ba9dc2d38a0eb97",
        "name": "Disk Gauge",
        "group": "e786eec99b3d8a71",
        "order": 6,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "Disk Capacity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "8cb5d634e3c969fa",
        "type": "ui_chart",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e786eec99b3d8a71",
        "order": 2,
        "width": 6,
        "height": 6,
        "label": "CPU Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "o",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#56d28c",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5fc0554388e81d98",
        "type": "ui_chart",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e786eec99b3d8a71",
        "order": 3,
        "width": 6,
        "height": 6,
        "label": "Memoria Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "dc9cf170ab1fbf5f",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "NetworkPi",
        "topic": "SlowHedgehog/network/consumption",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "ce8ef0854e5ccb1e",
                "3bb53818e3cb2ae5",
                "795ffc2bd5d407d6",
                "04680699f0a1c643",
                "9ab0799b11bf4f46"
            ]
        ]
    },
    {
        "id": "ce8ef0854e5ccb1e",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Total Subido Red",
        "func": "var bytes_sent = msg.payload.bytes_sent;\n\nmsg.payload = bytes_sent;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "a2c8cf9182a58233"
            ]
        ]
    },
    {
        "id": "3bb53818e3cb2ae5",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Velocidad Subida Red",
        "func": "var upload_speed = msg.payload.upload_speed;\n\nmsg.payload = upload_speed;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1180,
        "wires": [
            [
                "47929d3a7e456fb4"
            ]
        ]
    },
    {
        "id": "795ffc2bd5d407d6",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Velocidad Bajada Red",
        "func": "var download_speed = msg.payload.download_speed;\n\nmsg.payload = download_speed;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1220,
        "wires": [
            [
                "cb2e4805a6db412c"
            ]
        ]
    },
    {
        "id": "04680699f0a1c643",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Total Bajado Red",
        "func": "var bytes_recv = msg.payload.bytes_recv;\n\nmsg.payload = bytes_recv;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "078f48fa11c505fb"
            ]
        ]
    },
    {
        "id": "a2c8cf9182a58233",
        "type": "ui_text",
        "z": "0ba9dc2d38a0eb97",
        "group": "78c9a186d185255f",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Cantidad Subida",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 1080,
        "wires": []
    },
    {
        "id": "078f48fa11c505fb",
        "type": "ui_text",
        "z": "0ba9dc2d38a0eb97",
        "group": "78c9a186d185255f",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Cantidad Bajada",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 1120,
        "wires": []
    },
    {
        "id": "47929d3a7e456fb4",
        "type": "ui_chart",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "78c9a186d185255f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Velocidad Subida Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "cb2e4805a6db412c",
        "type": "ui_chart",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "78c9a186d185255f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Velocidad Baja Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "9ab0799b11bf4f46",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 1080,
        "wires": []
    },
    {
        "id": "21b9394f8db6fa44",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "bb6497de9b12cfc0",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Actualizar Información Puertos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "actualizar info puertos",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 1860,
        "wires": [
            [
                "84f1ef8237db6e03"
            ]
        ]
    },
    {
        "id": "84f1ef8237db6e03",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Actualizar Puertos abiertos",
        "topic": "SlowHedgehog/netstat/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 640,
        "y": 1860,
        "wires": []
    },
    {
        "id": "073f22e5033b3537",
        "type": "ui_text",
        "z": "0ba9dc2d38a0eb97",
        "group": "bb6497de9b12cfc0",
        "order": 3,
        "width": 6,
        "height": 7,
        "name": "Netstat",
        "label": "Puertos Abiertos:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "15",
        "color": "#ffffff",
        "x": 720,
        "y": 1760,
        "wires": []
    },
    {
        "id": "11ffc085dd60b899",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Encender Ord. Mesa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 40,
        "wires": [
            [
                "115d2dbb9814a8c3"
            ]
        ]
    },
    {
        "id": "115d2dbb9814a8c3",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Encender Ord. Mesa",
        "topic": "SlowHedgehog/control/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "65686166c3325a05",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reiniciar Raspberry",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "r",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "18469d221472e77d"
            ]
        ]
    },
    {
        "id": "18469d221472e77d",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Reiniciar",
        "topic": "SlowHedgehog/control/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3bd1df7c75472bc",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Formatear Lista Puertos",
        "func": "var ports = msg.payload;\n\n// Crear un string con los puertos separados por un salto de línea\nconst portString = ports.map(port => `Puerto ${port.port} con protocolo ${port.protocol}`).join('<br>');\n\nmsg.payload = portString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "073f22e5033b3537",
                "3c5b2e592d6fb0ec"
            ]
        ]
    },
    {
        "id": "3c5b2e592d6fb0ec",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a623cc7dbcc46785",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "UFW",
        "topic": "SlowHedgehog/ufw/output",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1380,
        "wires": [
            [
                "c8326a01705fd29b",
                "b3001680d09b6b7e"
            ]
        ]
    },
    {
        "id": "c8326a01705fd29b",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1320,
        "wires": []
    },
    {
        "id": "af761f5cefb62f17",
        "type": "ui_text",
        "z": "0ba9dc2d38a0eb97",
        "group": "6bcfc82429561d83",
        "order": 7,
        "width": 8,
        "height": 7,
        "name": "UFW Status",
        "label": "Reglas Aplicadas:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "15",
        "color": "#ffffff",
        "x": 770,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b3001680d09b6b7e",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Formatear Lista Reglas",
        "func": "var reglas = msg.payload;\nvar soloReglas = msg.payload.slice(1);\n\nif (reglas[0].Estado == \"active\") {\n  if (soloReglas.length == 0) {\n    msg.payload = 'No hay reglas añadidas (Comportamiento por defecto).';\n  } else {\n    msg.payload = soloReglas.map(rule => `Regla ${rule.rule_number}: ${rule.rule_info}`).join('<br>');\n  }\n} else {\n    msg.payload = 'UFW no está activo.';\n}\n\nreturn msg;\n\n//if (reglas.length > 1) {\n   // msg.payload = soloReglas.map(rule => `Regla ${rule.rule_number}: ${rule.rule_info}`).join('<br>');\n//} else {\n  //  msg.payload = 'UFW no está activo';\n//}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1380,
        "wires": [
            [
                "af761f5cefb62f17",
                "afe00e42a037b15e"
            ]
        ]
    },
    {
        "id": "afe00e42a037b15e",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1420,
        "wires": []
    },
    {
        "id": "36a529f1f51652ed",
        "type": "ui_text_input",
        "z": "0ba9dc2d38a0eb97",
        "name": "Añadir regla",
        "label": "Añadir reglas para UFW",
        "tooltip": "Para añadir: allow/deny regla | Para Borrar: delete numeroRegla | Para resetear: reset",
        "group": "6bcfc82429561d83",
        "order": 9,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 1600,
        "wires": [
            [
                "54310b24e32e6690"
            ]
        ]
    },
    {
        "id": "54310b24e32e6690",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Añadir/Eliminar reglas UFW",
        "topic": "SlowHedgehog/ufw/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 680,
        "y": 1600,
        "wires": []
    },
    {
        "id": "459b7482d23fdd2d",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "6bcfc82429561d83",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Actualizar Información Reglas",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "actualizar info ufw",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 1540,
        "wires": [
            [
                "9fc0b835025a58e5"
            ]
        ]
    },
    {
        "id": "9fc0b835025a58e5",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Actualizar Reglas UFW",
        "topic": "SlowHedgehog/ufw/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "e462ca7a706388c9",
        "type": "ui_switch",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "label": "Habilitar/Deshabilitar UFW",
        "tooltip": "",
        "group": "6bcfc82429561d83",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 380,
        "y": 1480,
        "wires": [
            [
                "8eb3a96869cb3ff1"
            ]
        ]
    },
    {
        "id": "8eb3a96869cb3ff1",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Activar/Desactivar UFW",
        "topic": "SlowHedgehog/ufw/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 670,
        "y": 1480,
        "wires": []
    },
    {
        "id": "80286d032c30cb3b",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Logs Apache",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "logsApache",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "a8d114fc3b5e3ed2"
            ]
        ]
    },
    {
        "id": "a8d114fc3b5e3ed2",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Logs Apache",
        "topic": "SlowHedgehog/logs/apacheInput",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "3fd9bd695cbc130d",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "Errores",
        "topic": "SlowHedgehog/errores",
        "qos": "2",
        "datatype": "utf8",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "a471f1418eb6b7d4",
                "eb0e365ee23c0d8e"
            ]
        ]
    },
    {
        "id": "eb0e365ee23c0d8e",
        "type": "ui_text",
        "z": "0ba9dc2d38a0eb97",
        "group": "e204dc3604ba1f64",
        "order": 20,
        "width": 6,
        "height": 4,
        "name": "Errores comandos",
        "label": "Errores en los comandos enviados:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "15",
        "color": "#ffffff",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e6b54f94f334aa2",
        "type": "change",
        "z": "0ba9dc2d38a0eb97",
        "name": "Switch OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "e462ca7a706388c9"
            ]
        ]
    },
    {
        "id": "0138a33ba4170281",
        "type": "switch",
        "z": "0ba9dc2d38a0eb97",
        "name": "IF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 1540,
        "wires": [
            [
                "3e6b54f94f334aa2"
            ]
        ]
    },
    {
        "id": "a471f1418eb6b7d4",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0ade54811eab227",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Apagar Ord. Mesa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "83626e6e75a2101b"
            ]
        ]
    },
    {
        "id": "83626e6e75a2101b",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Apagar Ord. Mesa",
        "topic": "SlowHedgehog/control/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "c63a44ab9fca05e0",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "Log Access Apache",
        "topic": "SlowHedgehog/logs/apacheAccess",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "a2c9e4f08628988e"
            ]
        ]
    },
    {
        "id": "a2c9e4f08628988e",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "51e49f43ba4ae2b1",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "Logs Errors Apache",
        "topic": "SlowHedgehog/logs/apacheErrors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "ea1307806d95ac20"
            ]
        ]
    },
    {
        "id": "ea1307806d95ac20",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "0750b5f8d5ef38aa",
        "type": "ui_gauge",
        "z": "0ba9dc2d38a0eb97",
        "name": "Temperature CPU Gauge",
        "group": "e786eec99b3d8a71",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature CPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "943ba4f217197945",
        "type": "mqtt in",
        "z": "0ba9dc2d38a0eb97",
        "name": "TemperaturaPi",
        "topic": "SlowHedgehog/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "846afa4368c08085",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 980,
        "wires": [
            [
                "bab172acb2d7336d",
                "49af1217e55fcef1",
                "d07a2b1f8ad3337a"
            ]
        ]
    },
    {
        "id": "49af1217e55fcef1",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Temp. CPU",
        "func": "var temp_cpu = msg.payload.cpu_temperature;\n\nmsg.payload = temp_cpu;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 960,
        "wires": [
            [
                "0750b5f8d5ef38aa"
            ]
        ]
    },
    {
        "id": "4ac26d49ab7f57b1",
        "type": "ui_gauge",
        "z": "0ba9dc2d38a0eb97",
        "name": "Temperature GPU Gauge",
        "group": "e786eec99b3d8a71",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature GPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bab172acb2d7336d",
        "type": "debug",
        "z": "0ba9dc2d38a0eb97",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 940,
        "wires": []
    },
    {
        "id": "d07a2b1f8ad3337a",
        "type": "function",
        "z": "0ba9dc2d38a0eb97",
        "name": "Obtener Temp. GPU",
        "func": "var temp_gpu = msg.payload.gpu_temperature;\n\nmsg.payload = temp_gpu;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "4ac26d49ab7f57b1"
            ]
        ]
    },
    {
        "id": "24af9213df21284c",
        "type": "comment",
        "z": "0ba9dc2d38a0eb97",
        "name": "Mirar que hacer con los logs",
        "info": "Heure",
        "x": 1060,
        "y": 240,
        "wires": []
    },
    {
        "id": "2dcc54dda3841778",
        "type": "ui_template",
        "z": "0ba9dc2d38a0eb97",
        "group": "339d0edc.4ffe02",
        "name": "Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #009785 0%,\n    #245aa5 50%,\n    #b800e9 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #FFFFFF;\n}\n\nui-card-panel {\n    background-color: rgba(255,255,255,0.1) !important;\n    border-radius: 10px !important;\n}\n    \n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,255,255,.2) !important;\n}\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,255,255,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,255,255,.2);\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,255,255,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5);\n}\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 930,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "38bbbcda3599c1a9",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Act. redirección puerto Ancla",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Actredireccionpuerto",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "e7b0e901c4853a40"
            ]
        ]
    },
    {
        "id": "e7b0e901c4853a40",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Act. redirección puerto",
        "topic": "SlowHedgehog/control/UNet",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "b8bde11771224369",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Desact. redirección puerto",
        "topic": "SlowHedgehog/control/UNet",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "375b9e72dd29c555",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Act. OpenVPN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Actopenvpn",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 480,
        "wires": [
            [
                "ddecb74b0c1c38a7"
            ]
        ]
    },
    {
        "id": "ddecb74b0c1c38a7",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Act. OpenVPN",
        "topic": "SlowHedgehog/control/UNet",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "7102c7f65b989038",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Desact. OpenVPN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Desactopenvpn",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "ebf543bc051f88d2"
            ]
        ]
    },
    {
        "id": "ebf543bc051f88d2",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Desact. OpenVPN",
        "topic": "SlowHedgehog/control/UNet",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "565ad930acbb17a4",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Desact. redirección puerto Ancla",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Desactredireccionpuerto",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "b8bde11771224369"
            ]
        ]
    },
    {
        "id": "74d278affca0caf4",
        "type": "ui_button",
        "z": "0ba9dc2d38a0eb97",
        "name": "",
        "group": "e204dc3604ba1f64",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reiniciar UNet",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "r",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 600,
        "wires": [
            [
                "bbca7a704ef0240a"
            ]
        ]
    },
    {
        "id": "bbca7a704ef0240a",
        "type": "mqtt out",
        "z": "0ba9dc2d38a0eb97",
        "name": "Reiniciar",
        "topic": "SlowHedgehog/control/UNet",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "846afa4368c08085",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "2e4aaf4ae9817c9c",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "53486977905706f6",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ebaf1d405fe1315c",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f2fd0ce2a84e362",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "5ccee4233139b835",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "0404c56f99d6db81",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "deca5e1152e78d51",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "48d84f351ba7b7a8",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ae30e61169011fa",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "f4df8b3cdf4a7ba2",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e204dc3604ba1f64",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "a5c3d9d0db3d67d1",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "e786eec99b3d8a71",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "4c2f82ed9cd4c214",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "78c9a186d185255f",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "169c37d7c89d7f51",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "6bcfc82429561d83",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "39e2de66cebba69c",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "6bcfc82429561d83",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "664896dc7bdd38d6",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "6bcfc82429561d83",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f8de8f598722d618",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "6bcfc82429561d83",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a68e7c7bf45de63c",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "6bcfc82429561d83",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "8325237028dac876",
        "type": "ui_spacer",
        "z": "0ba9dc2d38a0eb97",
        "name": "spacer",
        "group": "bb6497de9b12cfc0",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "846afa4368c08085",
        "type": "mqtt-broker",
        "name": "MQTT ARMRIOT",
        "broker": "mqtt.armriot.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e786eec99b3d8a71",
        "type": "ui_group",
        "name": "Tutelado Dashboard (Información Recursos Raspberry)",
        "tab": "e43de20d9c5a6636",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78c9a186d185255f",
        "type": "ui_group",
        "name": "Tutelado Dashboard (Información Red Raspberry)",
        "tab": "e43de20d9c5a6636",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb6497de9b12cfc0",
        "type": "ui_group",
        "name": "Tutelado Dashboard (Puertos Raspberry)",
        "tab": "e43de20d9c5a6636",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e204dc3604ba1f64",
        "type": "ui_group",
        "name": "Tutelado Dashboard (Control)",
        "tab": "e43de20d9c5a6636",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bcfc82429561d83",
        "type": "ui_group",
        "name": "Tutelado Dashboard (Raspberry Firewall UFW)",
        "tab": "e43de20d9c5a6636",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "339d0edc.4ffe02",
        "type": "ui_group",
        "name": "Estilo",
        "tab": "a2490d0e.a872b",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e43de20d9c5a6636",
        "type": "ui_tab",
        "name": "Tutelado",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2490d0e.a872b",
        "type": "ui_tab",
        "name": "Layout Style",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]